:root {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  position: sticky;
  top: 0;
  background-color: white;
}

.header__title {
  flex: 2;
  padding: 0.675em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.3em;
  text-align: center;
  white-space: nowrap;
}
.header__title a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}
.header__title:hover {
  background-color: #d6ebff;
  color: rgb(86, 129, 222);
}

.header__margin {
  flex: 4;
}
.menu {
  flex: 4;
}
.menu__button {
  display: none;
}
.menu__list {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}

.menu__list-hidden {
  display: flex;
}

.menu__item {
  display: block;
  padding: 0.675em 2em;
  white-space: nowrap;

  /* padding: 0.675em 0.33em; */
}
.menu__item:hover,
.active {
  background-color: #d6ebff;
  color: rgb(86, 129, 222);
}
.menu__link {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.preview {
  background-color: #deefff;
  /* background-color: #b8d1ff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

.preview__photo {
  height: 180px;
  max-height: 180px;
  margin-bottom: 0;
}
.preview__photo img {
  max-height: inherit;
  width: auto;
}
.preview h1 {
  margin-top: 0.125em;
  margin-bottom: 0.125em;
  font-size: 54px;
  /* font-weight: 300; */
}
.preview__text {
  font-size: 30px;
  padding-bottom: 1.5em;
  font-weight: 500;
}

.main__content {
  max-width: 650px;
  margin: auto;
  display: flex;
}

.aboutMe {
  flex: 3;
  padding-right: 2em;
}
.main__content p,
.projects p {
  font-size: 24px;
}
.projects {
  max-width: 650px;
  margin: auto;
}
.contacts {
  flex: 1;
}
.contacts__item {
  display: flex;
  align-items: center;
}
.contacts__item img {
  width: 64px;
  height: 64px;
}
.contacts__item a {
  color: black;
  text-decoration: none;
}
.contacts__item a:not(:last-child) {
  padding-right: 1em;
}
.contacts__item:not(:last-child) {
  padding-bottom: 2em;
}

@media (max-width: 650px) {
  .header {
    display: block;
  }
  .menu__container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: white;
  }
  .menu__button {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: white;
    border: none;
    height: 30px;
    width: 30px;
  }
  .menu__button-open {
    transform: rotate(90deg);
    transition: 0.5s;
  }
  .menu__button-close {
    transform: rotate(0deg);
    transition: 0.5s;
  }
  .menu__list {
    height: 150px;
    margin-top: -0.1em;
    padding-left: 0;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
  }

  .menu__list-close {
    opacity: 0;
    transition: 0.5s;
  }
  .menu__list-open {
    opacity: 1;
    transition: 0.5s;
  }

  .main__content {
    padding: 1em 1.5em;
    flex-direction: column;
  }
  .projects {
    padding: 1em 1.5em;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
